#bodylogin{
    background-color: black;
}

.login{
    padding:10% 2% 5% 2%;
    background-color: antiquewhite;
    margin: 5% 0% 5% 0%;
    border-radius:20px;
}

.licursos{
    padding:10% 2% 5% 2%;
    text-align:center;
}

.sidebar{
    padding-top:40px;
}
.conteudo{
    padding-top:40px;
}
#autor{
    text-align: right;
}